{% extends 'base.html' %}

{% block title %}Wybierz aukcję do logowania{% endblock %}

{% block head %}
  <style>
  .auction-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #e0e0e0;
    }
  .auction-item:last-child {
      border-bottom: none;
    }
  .auction-title {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 10px;
    }
  .auction-actions {
      display: flex;
      gap: 10px;
    }
  .btn-icon {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
    }
  .btn-icon i {
      color: black!important;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="banner">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header text-center">
          <h4>Wybierz aukcję</h4>
        </div>
        <div class="card-body" id="loginAuctionContent" style="max-height: 400px; overflow-y: auto;">
          {% if auctions %}
            <div>
              {% for auction_id, auction in auctions.items() %}
                <div class="auction-item">
                  <span class="auction-title">{{ auction.item }}</span>
                  <div class="auction-actions">
                    <a href="/login-auction?auction_id={{ auction_id }}" class="btn-icon">
                      <i class="fas fa-sign-in-alt"></i>
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <p>Brak dostępnych aukcji.</p>
          {% endif %}
        </div>
      </div>
    </div>
    <img src="{{ session.get('banner_image', url_for('static', filename='images/banner.jpg')) }}" alt="Baner w tle">
  </div>
{% endblock %}